<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candidate Login</title>
  </head>
  <body>
    <head>
      <div>
        <img src="./sscLogo.png" alt="sscLogo" />
        <div>
          <p>Government of India</p>
          <p>Staff Selection Commission</p>
        </div>
      </div>
      <div>
        <input type="search" />
        <button>Login or register</button>
        <img src="./Satyamev-Jayate.png" alt="Bharat" />
      </div>
    </head>
    <footer>
      <div>
        <div>
          <img src="./sscLogo.png" alt="ssc" />
          <p>Staff Selection</p>
          <p>Commission</p>
        </div>
        <div>
          <p>
            Public Disclousre of Scores and other details Of Non-Recommended
          </p>
          <a href="#willingCandidate">Willing Candidates</a>
        </div>
        <div>
          <p>Usefull links</p>
          <a href="#archives">Archives</a>
          <a href="#archives">Disclaimer</a>
          <a href="#archives">Sitemap</a>
          <a href="#archives">Help</a>
          <a href="#archives">Website Policies</a>
          <a href="#archives">Web Information Manager</a>
        </div>
        <div>
          <p>Constact Us</p>
          <p>Block No-12, CGO Complex, Lodhi Road New Delhi</p>
        </div>
      </div>
      <div>
        <p>&copy; 2024 SSC. All Rights Reserved</p>
        <p>Total Visitor Count:0</p>
        <p>Last Updated On Feb 26,2024</p>
      </div>
    </footer>
  </body>
</html>
